/data/
/plugins/
/camai/static/camai/nogit/
__pycache__/
*.py~
*.md~
*.bat~
*.example~
*.html~
*.css~
*.js~
*.sh~
*.txt~
.gitignore~
/camai/passwords.py
/eventers/c_alarm.py
/camai/systemlist.ods
/env/

