/data/
/plugins/
/camai/static/camai/nogit/
/temp/
/accounts/templates/django_registration/terms.html
/accounts/templates/django_registration/privacy.html
__pycache__/
*.py~
*.md~
*.bat~
*.example~
*.html~
*.css~
*.js~
*.sh~
*.txt~
.gitignore~
/camai/passwords.py
/camai/systemlist.ods
/env/
github-recovery-codes.txt

