debugpw = False
debug_daphne = True
debug_channels = False
emulatestatic = False

# put your datapath here
data_path = 'data/'
# put your database name here
db_database = 'CAM-AI'
# put your database password here
db_password = 'DatabasePassword' 
# generate your own, private security key
security_key = 'SecurityKey'
# False = No localhost True = localhost
localaccess = True
# put your internal IP here. Leave it empty if your serving on localhost
myip = []
# put your external domain here. Leave empty if only internal
mydomain = ''
# put a non standard port here. Leave it empty if your port is 443
httpsport = ''

# put here the type of your hardware (raspi or pc)
hw_type = 'raspi'
hw_version = '5'
hw_ram = 4

#put here the type of your OS (raspi or debian)
os_type = 'debian'
os_version = '12'

smtp_account = ''
smtp_password = ''
smtp_server = ''
smtp_port = 587
smtp_email = ''
smtp_use_ssl = True
