# put your database password here
db_password = 'DatabasePassword' 
# generate your own, private security key
# https://djecrety.ir/
security_key = 'SecurityKey'
# False = No localhost True = localhost
localaccess = True
# put your external domain here. Leave empty if only internal
mydomain = ''
# put a non standard port here. Leave it empty if your port is 443
httpsport = ''
# put your internal IP here. Leave it empty if your serving on localhost
myip = ''

smtp_account = ''
smtp_password = ''
smtp_server = ''
smtp_port = 587
smtp_email = ''
smtp_use_ssl = True
