<div class="row">
  <div class="col-auto">
    <h4>If</h4>
  </div>
  <div class="col-auto">
    <ul class="list-group" id="lg-and-{{ reaction }}">
      <li class="list-group-item disabled"><h4>...and</h4></li>
    </ul> 
    <button type="button" id="ad-bt-and-{{ reaction }}"><h4>Add</h4></button> 
    <button type="button" id="ed-bt-{{ reaction }}"><h4>Edit</h4></button> 
    <button type="button" id="de-bt-{{ reaction }}"><h4>Delete</h4></button> 
  </div>
  <div class="col-auto">
    <ul class="list-group" id="lg-or-{{ reaction }}">
      <li class="list-group-item disabled"><h4>...or</h4></li>
    </ul>
    <button type="button" id="ad-bt-or-{{ reaction }}"><h4>Add</h4></button> 
  </div>
</div>
<div class="row d-none">
  <div class="col-auto roundframe">
    <h4> <label for="c-sel-{{ reaction }}">Condition type:</label>
    <select name="c-sel-{{ reaction }}" id="c-sel-{{ reaction }}">
      <option value=1>Any movement</option>
      <option value=2>X predictions are above Y</option>
      <option value=3>X predictions are below Y</option>
      <option value=4>Tag X is above Y</option>
      <option value=5>Tag X is below Y</option>
      <option value=6>Tag X is in top Y</option>
    </select> 
    ---><span id="c-form-{{ reaction }}">???</span>
    <button type="button" id="subm-bt-{{ reaction }}">Submit</button></h4>
  </div>
</div>


<script >

function addclick_{{ reaction }}(and_or) {
	let result_id;
	let lg_selector;
	if (and_or === 0) {
		lg_selector = '#lg-and-{{ reaction }}';
	} else {
		lg_selector = '#lg-or-{{ reaction }}';
	};
  oneitemSocket.sendandwait({
    'command' : 'newcondition',
    'and_or' : and_or,
    'reaction' : {{ reaction }},
  })
	.then((result) => {
		c_dict[{{ reaction }}].push(result);
		result_id = result.id;
		return(oneitemSocket.sendandwait({
		  'command' : 'cond_to_str',
		  'condition' : result,
		}));
	})
	.then((result) => {

    $('#lg-and-{{ reaction }}, #lg-or-{{ reaction }}').find('.list-group-item').removeClass('active');

    $(lg_selector).append('<li class="list-group-item active" '
			+'data-idx='+result_id+'><h4>'+result+'</h4></li>');
		$(lg_selector).children().click(function() {
		  $(this).parent().parent().parent().find('.list-group-item')
				.removeClass('active');
		  $(this).addClass('active')
		});
	})
  .catch(err => {console.log(err);});
};

function docready_{{ reaction }}() {
  let firstchange = true;
  let prom_array = [];
  for (let item of c_dict[{{ reaction }}]) {
    onepromise = oneitemSocket.sendandwait({
      'command' : 'cond_to_str',
      'condition' : item,
    })
    .then((result) => {
      if (item.and_or === 0) {
        $("#lg-and-{{ reaction }}").append('<li class="list-group-item" '
					+'data-idx='+item.id+'><h4>'+result+'</h4></li>');
      };
      if (item.and_or === 1) {
        $("#lg-or-{{ reaction }}").append('<li class="list-group-item" '
					+'data-idx='+item.id+'><h4>'+result+'</h4></li>');
      };
    })
    .catch(err => {console.log(err);});
    prom_array.push(onepromise);
  };
  Promise.all(prom_array)
  .then(() => {
    $('#lg-and-{{ reaction }}, #lg-or-{{ reaction }}').children()
				.click(function() {
      bstr_row = $("#lg-or-{{ reaction }}").parent().parent().next();
      if (!bstr_row.hasClass('d-none')) {
        bstr_row.addClass('d-none');
      };
      $(this).parent().parent().parent().find('.list-group-item')
				.removeClass('active');
      $(this).addClass('active')
    });
    $('#de-bt-{{ reaction }}').click(function() {
      selected = $(this).parent().parent().find('.active');
      if (selected.length > 0) {
        oneitemSocket.sendandwait({
	        'command' : 'delcondition',
	        'c_nr' : selected.attr('data-idx'),
	        'reaction' : {{ reaction }},
        })
        .then(() => {
	        c_dict[{{ reaction }}] = 
		        c_dict[{{ reaction }}].filter(item => 
							!(item.id.toString() === selected.attr('data-idx')));
	        selected.remove();
        })
        .catch(err => {console.log(err);});
      };
    });
    $('#c-sel-{{ reaction }}').change(function() {
      selected = $(this).parent().parent().parent().prev().find('.active');
      sel_par = c_dict[{{ reaction }}].find((item) => 
				{return(item.id === parseInt(selected.attr('data-idx')));});
      c_type = $('#c-sel-{{ reaction }}').val();
      if (c_type === '1') {
        formhtml = 'Any movement detected<input type="hidden" '
					+'id="inp-y-{{ reaction }}">';
      } else {
        if ((c_type === '2') || (c_type === '3')) {
          formhtml = '<select id="sel-x-{{ reaction }}">';
        } else {
          formhtml = 'Tag <select id="sel-x-{{ reaction }}">';
        };
        for (let i=0; i<=9; i++) {
          if ((c_type === '2') || (c_type === '3')) {
	          if (i === sel_par.x) {
		          formhtml += '<option value='+i+' selected>'+i+'</option>';
	          } else {
		          formhtml += '<option value='+i+'>'+i+'</option>';
	          };
          } else {
		        if (i === sel_par.x) {
			        formhtml += '<option value='+i+' selected>'
								+taglines[i]+'</option>';
		        } else {
			        formhtml += '<option value='+i+'>'+taglines[i]
								+'</option>';
		        };
          };
        };
        formhtml += '</select>';
        if (c_type === '2') {
	        formhtml += ' predictions are above or equal ';
        };
        if (c_type === '3') {
	        formhtml += ' predictions are below or equal ';
        };
        if (c_type === '4') {
	        formhtml += ' is above or equal ';
        };
        if (c_type === '5') {
	        formhtml += ' is below or equal ';
        };
        if (c_type === '6') {
	        formhtml += ' is in top ';
	        formhtml += '<input type="number" class="floatinp" '
						+'id="inp-y-{{ reaction }}" min="1" max="9" value="'+sel_par.y+'">';
        } else {
	        formhtml += '<input type="number" class="floatinp" '
						+'id="inp-y-{{ reaction }}" min="0" max="1" step="0.01" value="'
						+sel_par.y+'">';
        };
      };
      $('#c-form-{{ reaction }}').html(formhtml);
      $('#sel-x-{{ reaction }}, #inp-y-{{ reaction }}').change(function() {
        if (selected.length > 0) {
	        sel_par.c_type = $('#c-sel-{{ reaction }}').val();
          sel_par.x = $('#sel-x-{{ reaction }}').val();
          if (!sel_par.x) {sel_par.x = '0';};
          sel_par.y = $('#inp-y-{{ reaction }}').val();
          if (!sel_par.y) {sel_par.y = '0';};
	        oneitemSocket.sendandwait({
		        'command' : 'savecondition',
		        'c_nr' : selected.attr('data-idx'),
		        'reaction' : {{ reaction }},
            'c_type' : sel_par.c_type,
            'x' : sel_par.x,
            'y' : sel_par.y,
            'save_db' : false,
	        })
          .then(() =>   {
            sel_par.c_type = parseInt(sel_par.c_type);
            sel_par.x = parseInt(sel_par.x);
            sel_par.y = parseFloat(sel_par.y);
            return(oneitemSocket.sendandwait({
              'command' : 'cond_to_str',
              'condition' : sel_par,
            }));
          })
          .then((result) =>   {
            selected.html('<h4>'+result+'</h4>');
          })
	        .catch(err => {console.log(err);});
        };
      });
      if (firstchange) {
        firstchange = false;
        $('#subm-bt-{{ reaction }}').click(function() {
          if (selected.length > 0) {
	          sel_par.c_type = $('#c-sel-{{ reaction }}').val();
            sel_par.x = $('#sel-x-{{ reaction }}').val();
            if (!sel_par.x) {sel_par.x = '0';};
            sel_par.y = $('#inp-y-{{ reaction }}').val();
            if (!sel_par.y) {sel_par.y = '0';};
	          oneitemSocket.sendandwait({
		          'command' : 'savecondition',
		          'c_nr' : selected.attr('data-idx'),
		          'reaction' : {{ reaction }},
              'c_type' : sel_par.c_type,
              'x' : sel_par.x,
              'y' : sel_par.y,
              'save_db' : true,
	          })
	          .catch(err => {console.log(err);});
          }
        });
      } else {
        $('#inp-y-{{ reaction }}').trigger('change');
      };
    });
    $('#ed-bt-{{ reaction }}').click(function() {
      selected = $(this).parent().parent().find('.active');
      if (selected.length > 0) {
        oneitemSocket.sendandwait({
	        'command' : 'getcondition',
	        'c_nr' : selected.attr('data-idx'),
        })
        .then((result) => {
	        bstr_row = $(this).parent().parent().next();
	        if (bstr_row.hasClass('d-none')) {
		        $('#c-sel-{{ reaction }}').val(result.c_type);
		        $('#c-sel-{{ reaction }}').trigger('change');
		        bstr_row.removeClass('d-none');
	        } else {
		        bstr_row.addClass('d-none');
	        };
        })
        .catch(err => {console.log(err);});
      };
    });
    $('#ad-bt-and-{{ reaction }}').click(function() {
			addclick_{{ reaction }}(0);
    });
    $('#ad-bt-or-{{ reaction }}').click(function() {
			addclick_{{ reaction }}(1);
    });
  })
  .catch(err => {console.log(err);});
};
</script>

