{% extends 'main/basis.html' %}
{% block content %}
{% if emulatestatic %}
  {% load static %}
  <script src="{% static 'camai/git/js/wstools.js' %}"></script>
  <script src="{% static 'camai/nogit/js/jquery-3.5.1.js' %}"></script>
	<link rel="stylesheet" href="{% static 'oneitem/git/oneitem.css' %}">
{% else %}
  <script src="https://static.cam-ai.de/{{ version }}/camai/git/js/wstools.js"></script>
  <script src="https://static.cam-ai.de/{{ version }}/camai/nogit/js/jquery-3.5.1.min.js"></script>
	<link rel="stylesheet" href="https://static.cam-ai.de/{{ version }}/oneitem/git/oneitem.css">
{% endif %}

<script>

//let displaywidth = 667; // Screen height IPhone 7
let displaywidth = Math.round($(window).width() * 0.97);
let ws_scheme = window.location.protocol == "https:" ? "wss:" : "ws:";
let r_array = {};
let c_view_Socket;
let trigger_Socket;
{% if may_write %}
let oneitemSocket;
{% endif %}

$(document).ready(function() {
{% if may_write %}
	$('#ch_show').change((evt) => {
		oneitemSocket.sendandwait({
			'command' : 'setcbstatus',
			'ch_show' : $('#ch_show').prop('checked'),
		})
		.catch(err => {console.log(err);});
	});

	$('#ch_apply').change((evt) => {
		oneitemSocket.sendandwait({
			'command' : 'setcbstatus',
			'ch_apply' : $('#ch_apply').prop('checked'),
		})
		.catch(err => {console.log(err);});
	});

	$('#ch_edit').change((evt) => {
		oneitemSocket.sendandwait({
			'command' : 'setcbstatus',
			'ch_edit' : $('#ch_edit').prop('checked'),
		})
		.catch(err => {console.log(err);});
	});

	$('#ch_white').change((evt) => {
		oneitemSocket.sendandwait({
			'command' : 'setcbstatus',
			'ch_white' : $('#ch_white').prop('checked'),
		})
		.catch(err => {console.log(err);});
	});

	$('#bt_new').click((evt) => {
		oneitemSocket.sendandwait({
			'command' : 'setbtevent',
			'bt_new' : 'click',
		})
		.catch(err => {console.log(err);});
	});
	$('#oneform').children(':first').children(':first').children('.col-auto')
			.children(
        '#id_det_fpslimit, '
        +'#id_det_threshold, '
        +'#id_det_backgr_delay, '
        +'#id_det_dilation, '
        +'#id_det_erosion, '
        +'#id_det_max_size, '
        +'#id_det_max_rect'
      ).change(function(evt) {
		oneitemSocket.sendandwait({
			'command' : 'setonefield',
			'pname' : $(evt.target).attr('name'),
			'value' : $(evt.target).val(),
		})
		.then((result) => {
			if (result === 'OK') {
				$(evt.target).addClass('blue');
			};
		})
		.catch(err => {console.log(err);});
	});
	$('#conditions').children(':even').click((evt) => {
		let bstr_row = $(evt.target).closest('.row').next();
		bstr_row.toggleClass('d-none');
		$('html, body').animate({scrollTop:$(document).height()}, 'slow');
	})
{% endif %}
	WSAsync(ws_scheme+'//'+window.location.host+'/ws/c_view/')
	.then((result) => {
		c_view_Socket = result;
    return(WSAsync(ws_scheme+'//'+window.location.host+'/ws/trigger/'));
  })
	.then((result) => {
    trigger_Socket = result;
		trigger_Socket.socket.onclose = function(e) {
			console.log('Trigger-Socket closed');
		};
		trigger_Socket.socket.onmessage = function(e) {
      if ((typeof(e.data) === 'object')	&& (typeof timedRefreshD{{ dbline.id|stringformat:"09d" }} === "function")) {
        e.data.arrayBuffer()
        .then((bytebuffer) => {
				  timedRefreshD{{ dbline.id|stringformat:"09d" }}(bytebuffer);
          trigger_Socket.socket.send('D{{ dbline.id|stringformat:"09d" }}');
        })
        .catch(err => {console.log(err);});
			};
		};
{% if may_write %}
		$('#ch_show').prop('checked', true);
		$('#ch_apply').prop('checked', ('{{ dbline.det_apply_mask }}' == 'True'));
		$('#ch_edit').prop('checked', false);
		$('#ch_white').prop('checked', true);
		return(WSAsync(ws_scheme + '//' + window.location.host + '/ws/oneitem/'));
	})
	.then((result) => {
		oneitemSocket = result;
		oneitemSocket.sendandwait({
			'command' : 'setmyitem',
			'mode' : 'D',
			'itemid' : {{ dbline.id }},
      'scaling' : displaywidth / {{ dbline.cam_xres }}
		})
	})
	.then(() => {
		oneitemSocket.sendandwait({
			'command' : 'setcbstatus',
			'ch_show' : $('#ch_show').prop('checked'),
			'ch_apply' : $('#ch_apply').prop('checked'),
			'ch_edit' : $('#ch_edit').prop('checked'),
		})
{% endif %}
	})
	.then(() => {
    ratio = ({{ dbline.cam_yres }} / {{ dbline.cam_xres }});
		$.get('/viewers/c_canvas/L/D/{{ dbline.id }}/'+displaywidth+'/'+Math.round(displaywidth * ratio)+'/', ((data ) => {
			$('#spaceforcanvas').html(data);
			mycanvas = $('#canvasD{{ dbline.id }}');
{% if may_write %}
			let overcanvas = false;
			mycanvas.mousedown((evt) => {
				if($('#ch_edit').prop('checked')) {
					let x = evt.originalEvent.pageX - mycanvas.offset().left;
					let y = evt.originalEvent.pageY - mycanvas.offset().top;
					oneitemSocket.sendandwait({
						'command' : 'mousedown',
						'x' : x,
						'y' : y,
					})
					.catch(err => {console.log(err);});
					overcanvas = true;
				};
			});
			$( document.body ).mouseup((evt) => {
				if (overcanvas) {
					let x = evt.originalEvent.pageX - mycanvas.offset().left;
					let y = evt.originalEvent.pageY - mycanvas.offset().top;
					oneitemSocket.sendandwait({
						'command' : 'mouseup',
						'x' : x,
						'y' : y,
					})
					.catch(err => {console.log(err);});
					overcanvas = false;
				};
			});
			$( document.body ).mousemove((evt) => {
				if (overcanvas) {
					let x = evt.originalEvent.pageX - mycanvas.offset().left;
					let y = evt.originalEvent.pageY - mycanvas.offset().top;
					oneitemSocket.sendandwait({
						'command' : 'mousemove',
						'x' : x,
						'y' : y,
					})
					.catch(err => {console.log(err);});
				};
			});
			mycanvas.dblclick((evt) => {
				let x = evt.originalEvent.pageX - mycanvas.offset().left;
				let y = evt.originalEvent.pageY - mycanvas.offset().top;
				oneitemSocket.sendandwait({
					'command' : 'dblclick',
					'x' : x,
					'y' : y,
				})
				.catch(err => {console.log(err);});
			});
{% endif %}
		}));
	})
	.catch(err => {console.log(err);});
});
	
</script>


<div class="container-fluid float-left">
	<div class="row">
		<div class="col-auto">
			<div id="spaceforcanvas"></div>
		</div>
	</div>
</div>

{% if may_write %}
  <div class="container-fluid float-left" id="conditions">
	  <div class="row my-1 blue">
		  <div class="col-auto my-2">General settings</div>
	  </div>
	  <div class="row my-1 d-none">
		  <form action="{{ myurl }}{{ dbline.id }}/" autocomplete="off" 
				  method="post" id="oneform">
			  <div class="container-fluid float-left">
				  <div class="row my-2">
					  {% csrf_token %}
					  {% spaceless %}
					  {% for field in form %}
					  <div class="col-auto my-2">
						  {{ field.errors }}
						  {{ field.label_tag }} {{ field }}
						  {% if field.help_text %}
						  <p class="help">{{ field.help_text|safe }}</p>
						  {% endif %}
					  </div>
					  {% endfor %}
					  {% endspaceless %}
				  </div>
			  </div>
			  <div class="container-fluid float-left">
				  <div class="row my-1">
					  <div class="col-auto my-2">
						  <input type="submit" value="Submit">
					  </div>
				  </div>
			  </div>
		  </form>
	  </div>
	  <div class="row my-1 blue" rea="0">
		  <div class="col-auto my-2" rea="0">Mask settings</div>
	  </div>
	  <div class="row my-1 d-none" id="det_c_boxes">
		  <div class="col-auto my-2">
			  <label for="ch_show">Show</label>
			  <input type="checkbox" id="ch_show" name="ch_show">
		  </div>
		  <div class="col-auto my-2">
			  <label for="ch_apply">Apply</label>
			  <input type="checkbox" id="ch_apply" name="ch_apply">
		  </div>
		  <div class="col-auto my-2">
			  <label for="ch_edit">Edit</label>
			  <input type="checkbox" id="ch_edit" name="ch_edit">
		  </div>
		  <div class="col-auto my-2">
			  <label for="ch_white">White Marks</label>
			  <input type="checkbox" id="ch_white" name="ch_white">
		  </div>
		  <div class="col-auto my-2">
			  <button type="button" id="bt_new">New Masked Area</button>
		  </div>
	  </div>
  </div>
{% endif %}

{% endblock %}

