.accordion-button {
  background-color: red;
  color: white;
}

.accordion-button:not(.collapsed) {
  background-color: green;
  color: black;
}

.accordion-body {
  background-color: yellow;
  color: black;
}  

.img-rounded{
	border-radius:2%;
}
.bluegrey {
	background: #B4C2C8;
	color: #000;
	border-radius:9px;
	margin:auto;
}

.rows {
	background:#475B63;
	width:90%;
	margin:1%;
	border-radius:15px;
	padding:5px;
}

.noselect  {
  user-select: none;
}


button {
	margin:20px;
}

td {
	vertical-align: top;
  border: 0px solid grey;
  border-collapse: separate;
  padding: 3px;
}

td.noline {
  border: none;
}

.pointer {
	cursor: pointer;
}



